# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
*.venv/
ENV/
env/
VENV/
# IDEs and editors
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Instance folder (Flask)
instance/

# Frontend node_modules
frontend/node_modules/
frontend/build/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db
